.container p {
    text-align: center;
    padding: 10px;
}

.text {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
}

.text h1 {
    font-family: 'Sacramento', cursive;
    font-size: 4rem;
    color: white;
}

.bg-img {
    background-image: url(images/background.jpg);
    min-height: 750px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container h1 {
    text-align: center;
    padding: 40px;
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
}

a {
    text-decoration: none;
    color: white;
}

.pil {
    position: absolute;
    top: 92%;
    left: 50%;
    font-size: 2rem;
}

.pil:hover {
    width: 20px;
    background-color: #b6666f;
    opacity: 50%;
}

.scroll {
    animation-name: scroll_kf;
    animation-duration: 1.7s;
    animation-timing-function: linear;
}

@keyframes scroll_kf {
    0% {
        transform: translateY(0vw);
    }

    100% {
        transform: translateY(20vw0);
    }
}
