.knap1 {
    position: absolute;
    background-color: #b6666f;
    border: none;
    text-align: center;
    display: inline-block;
    font-family: 'Josefin Slab', serif;
    padding: 10px 40px;
}

.knap2 {
    position: absolute;
    background-color: #b6666f;
    border: none;
    text-align: center;
    display: inline-block;
    font-family: 'Josefin Slab', serif;
    padding: 10px 40px;
}

.knap3 {
    position: absolute;
    background-color: #b6666f;
    border: none;
    text-align: center;
    display: inline-block;
    font-family: 'Josefin Slab', serif;
    padding: 10px 40px;
}

.knap4 {
    position: absolute;
    background-color: #b6666f;
    border: none;
    text-align: center;
    display: inline-block;
    font-family: 'Josefin Slab', serif;
    padding: 10px 40px;
}

.knap5 {
    position: absolute;
    background-color: #b6666f;
    border: none;
    text-align: center;
    display: inline-block;
    font-family: 'Josefin Slab', serif;
    padding: 10px 40px;
}

.knap6 {
    position: absolute;
    background-color: #b6666f;
    border: none;
    text-align: center;
    display: inline-block;
    font-family: 'Josefin Slab', serif;
    padding: 10px 40px;
}

.knap7 {
    position: absolute;
    background-color: #b6666f;
    border: none;
    text-align: center;
    display: inline-block;
    font-family: 'Josefin Slab', serif;
    padding: 10px 40px;
}

.knap8 {
    position: absolute;
    background-color: #b6666f;
    border: none;
    text-align: center;
    display: inline-block;
    font-family: 'Josefin Slab', serif;
    padding: 10px 40px;
}

button a {
    color: black;
}

@media (max-width: 800px) {
    h1 {
        margin: 20px;
    }

    #galleri {
        padding: 20px;

    }

    .img0 {
        margin-bottom: 80px;
    }

    .img1 {
        margin-bottom: 80px;
    }

    .img2 {
        margin-bottom: 80px;
    }

    .img3 {
        margin-bottom: 80px;
    }

    .img4 {
        margin-bottom: 80px;
    }

    .img5 {
        margin-bottom: 80px;
    }

    .img6 {
        margin-bottom: 80px;
    }

    .img7 {
        margin-bottom: 80px;
    }

    #chokolade {
        background-image: url(images/endelige_figurer.svg);
        width: 80vw;
        height: 20vh;
        background-repeat: no-repeat;
        margin-left: 35px;
    }

    .knap1 {
        top: 595vw;
        left: 33vw;
    }

    .knap2 {
        top: 725vw;
        left: 33vw;
    }

    .knap3 {
        top: 385vw;
        left: 33vw;
    }

    .knap4 {
        top: 659vw;
        left: 33vw;
    }

    .knap5 {
        top: 940vw;
        left: 33vw;
    }

    .knap6 {
        top: 522vw;
        left: 33vw;
    }

    .knap7 {
        top: 457vw;
        left: 33vw;
    }

    .knap8 {
        top: 893vw;
        left: 33vw;
    }

}

@media only screen and (min-width: 300px) and (max-width: 1025px) and (orientation: landscape) {
    h1 {
        padding: 30px;
        font-size: 3rem;
    }

    #galleri img {
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        ;
    }

    .img0 {
        margin-bottom: 80px;
    }

    .img1 {
        margin-bottom: 80px;
    }

    .img2 {
        margin-bottom: 80px;
    }

    .img3 {
        margin-bottom: 80px;
    }

    .img4 {
        margin-bottom: 80px;
    }

    .img5 {
        margin-bottom: 80px;
    }

    .img6 {
        margin-bottom: 80px;
    }

    .img7 {
        margin-bottom: 80px;
    }

    #chokolade {
        background-image: url(images/endelige_figurer.svg);
        width: 80vw;
        height: 20vh;
        background-repeat: no-repeat;
        margin-left: 250px;
        margin-bottom: 80px;
    }

    .knap1 {
        top: 319vw;
        left: 42vw;
    }

    .knap2 {
        top: 387vw;
        left: 42vw;
    }

    .knap3 {
        top: 209vw;
        left: 42vw;
    }

    .knap4 {
        top: 352vw;
        left: 42vw;
    }

    .knap5 {
        top: 495vw;
        left: 42vw;
    }

    .knap6 {
        top: 281vw;
        left: 42vw;
    }

    .knap7 {
        top: 247vw;
        left: 42vw;
    }

    .knap8 {
        top: 477vw;
        left: 42vw;
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1025px) and (orientation: landscape) {
    .knap1 {
        top: 308vw;
    }

    .knap2 {
        top: 371vw;
    }

    .knap3 {
        top: 205vw;
    }

    .knap4 {
        top: 340vw;
    }

    .knap5 {
        top: 482vw;
    }

    .knap6 {
        top: 272vw;
    }

    .knap7 {
        top: 241vw;
    }

    .knap8 {
        top: 461vw;
    }
}

@media only screen and (min-width: 764px) and (max-width: 1025px) and (orientation: portrait) {
    .knap1 {
        left: 41vw;
        top: 563vw;
    }

    .knap2 {
        left: 41vw;
        top: 677vw;
    }

    .knap3 {
        top: 379vw;
        left: 41vw;
    }

    .knap4 {
        left: 41vw;
        top: 620vw;
    }

    .knap5 {
        left: 41vw;
        top: 875vw;
    }

    .knap6 {
        left: 41vw;
        top: 500vw;
    }

    .knap7 {
        left: 41vw;
        top: 443vw;
    }

    .knap8 {
        left: 41vw;
        top: 840vw;
    }
}

@media (min-width: 1100px) {
    #galleri .galleri_wrapper {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-gap: 20px;
        margin: 100px;

    }

    h1 {
        font-family: 'Sacramento', cursive;
        font-size: 4rem;
        text-align: center;
        padding-top: 160px;
    }


    #galleri img {
        display: block;
        height: 100%;
        object-fit: cover;
    }

    .img0 {
        grid-column-start: 8;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: span 2;
    }

    .img1 {
        grid-column-start: 5;
        grid-column-end: 8;
        grid-row-start: 3;
    }

    .img3 {
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 3;
    }

    .img4 {
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 1;
    }

    .img5 {
        grid-column-start: 2;
        grid-column-end: 6;
        grid-row-start: 2;
    }

    .img6 {
        grid-column-start: 5;
        grid-column-end: 8;
        grid-row-start: 1;
    }

    .img7 {
        grid-column-start: 8;
        grid-column-end: 9;
        grid-row-start: 3;
    }

    button a {
        text-decoration: none;
    }

    button a:hover {
        text-decoration: underline;
    }

    .knap1 {
        top: 34vw;
        left: 24.5vw;
        font-size: 20px;
    }

    .knap2 {
        top: 34vw;
        left: 54vw;
        font-size: 20px;
    }

    .knap3 {
        top: 34vw;
        left: 74.7vw;
        font-size: 20px;
        padding: 10px 20px;
    }

    .knap4 {
        top: 53.5vw;
        left: 30vw;
        font-size: 20px;
    }

    .knap5 {
        top: 53.5vw;
        left: 59vw;
        font-size: 20px;
    }

    .knap6 {
        top: 70.5vw;
        left: 26vw;
        font-size: 20px;
    }

    .knap7 {
        top: 70.5vw;
        left: 54.5vw;
        font-size: 20px;
    }

    .knap8 {
        top: 70.5vw;
        left: 74.7vw;
        font-size: 20px;
        padding: 10px 20px;
    }


    #chokolade {
        position: absolute;
        background-image: url(images/Chokolade.svg);
        width: 4vw;
        height: 4vw;
        top: 50vw;
        left: 55vw;
        background-repeat: no-repeat;
    }

    #sukker {
        position: absolute;
        background-image: url(images/Sukker.svg);
        width: 4vw;
        height: 4vw;
        top: 50vw;
        left: 59vw;
        background-repeat: no-repeat;
    }

    #mel {
        position: absolute;
        background-image: url(images/mel.svg);
        width: 4vw;
        height: 4vw;
        top: 50vw;
        left: 63vw;
        background-repeat: no-repeat;
    }

    #maelk {
        position: absolute;
        background-image: url(images/Maelk.svg);
        width: 4vw;
        height: 4vw;
        top: 50vw;
        left: 69vw;
        background-repeat: no-repeat;
    }

    #marmelade {
        position: absolute;
        background-image: url(images/Marmelade.svg);
        width: 4vw;
        height: 4vw;
        top: 50vw;
        left: 66vw;
        background-repeat: no-repeat;
    }

    .hop_sukker {
        animation-name: hop_sukker_kf;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-direction: alternate;
    }

    @keyframes hop_sukker_kf {
        0% {
            top: 50vw;
        }

        100% {
            top: 47vw;
        }
    }

    .hop_chokolade {
        animation-name: hop_chokolade_kf;
        animation-duration: 1.7s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-direction: alternate;
    }

    @keyframes hop_chokolade_kf {
        0% {
            top: 50vw;
        }

        100% {
            top: 45vw;
        }
    }

    .hop_mel {
        animation-name: hop_mel_kf;
        animation-duration: 1.4s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-direction: alternate;
    }

    @keyframes hop_mel_kf {
        0% {
            top: 50vw;
        }

        100% {
            top: 48vw;
        }
    }

    .hop_maelk {
        animation-name: hop_maelk_kf;
        animation-duration: 1.9s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-direction: alternate;
    }

    @keyframes hop_maelk_kf {
        0% {
            top: 50vw;
        }

        100% {
            top: 44vw;
        }
    }

    .hop_marmelade {
        animation-name: hop_marmelade_kf;
        animation-duration: 1.9s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-direction: alternate;
    }

    @keyframes hop_marmelade_kf {
        0% {
            top: 50vw;
        }

        100% {
            top: 46vw;
        }
    }

    .blur {
        filter: blur(4px);
    }
}
